<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ee_macro" params="parent">
    <xacro:include filename="$(find gentact_ros_tools)/urdf/end_effectors/ee_base.xacro" />
    <xacro:property name="mesh_file" value="package://gentact_ros_tools/meshes/end_effectors/large_plate_ee.stl" />

    <!-- Instantiate dermis once -->
    <xacro:ee_base_macro
      parent="${parent}"
      mesh_file="${mesh_file}"
      radius="0.005"
      origin_tip="0 0 0.051">
      <origin xyz="0 0 0.107" rpy="0 0 0.785398" />
    </xacro:ee_base_macro>
  </xacro:macro>

</robot>