<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- Macro definition for link5 skin -->
  <xacro:macro name="link5_skin" params="parent namespace">
    <!-- Properties -->
    <xacro:property name="use_mesh_file" value="true" />
    <xacro:property name="mesh_file" value="package://gentact_ros_tools/meshes/skin/self-cap/link5_fancy.stl" />
    <xacro:property name="mass" value="0.3" /> <!-- [kg] -->
    <xacro:property name="body_width" value="0.3" /> <!-- [m] -->
    <xacro:property name="body_height" value="0.1" /> <!-- [m] -->
    <xacro:property name="sensor_length" value="0.05" /> <!-- [m] -->
    <xacro:property name="sensor_radius" value="0.0" /> <!-- [m] -->

    <!-- Included URDF Files -->
    <xacro:include filename="$(find gentact_ros_tools)/urdf/skin/self-cap-base.xacro" />

    <!-- Instantiate dermis once -->
    <xacro:dermis_base_macro
      robot_namespace="${namespace}"
      parent="${parent}"
      mass="${mass}"
      body_width="${body_width}"
      body_height="${body_height}"
      use_mesh_file="${use_mesh_file}"
      mesh_file="${mesh_file}">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:dermis_base_macro>

    <!-- Instantiate sensors -->
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="5"
      sensor_radius="${sensor_radius}"
      sensor_length="0.057"
      normal_x="-0.049"
      normal_y="0.985"
      normal_z="-0.167">
      <origin xyz="-0.004 0.115 -0.089" rpy="-1.403 -3.142 0.049" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="1"
      sensor_radius="${sensor_radius}"
      sensor_length="0.048"
      normal_x="-0.050"
      normal_y="0.941"
      normal_z="-0.335">
      <origin xyz="-0.007 0.127 -0.038" rpy="-1.229 -3.142 0.054" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="4"
      sensor_radius="${sensor_radius}"
      sensor_length="0.060"
      normal_x="0.375"
      normal_y="0.908"
      normal_z="-0.188">
      <origin xyz="0.026 0.130 -0.013" rpy="1.760 -0.000 2.750" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="2"
      sensor_radius="${sensor_radius}"
      sensor_length="0.059"
      normal_x="-0.230"
      normal_y="0.956"
      normal_z="-0.183">
      <origin xyz="-0.016 0.104 -0.138" rpy="1.754 0.000 -2.906" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="3"
      sensor_radius="${sensor_radius}"
      sensor_length="0.059"
      normal_x="-0.092"
      normal_y="0.902"
      normal_z="0.422">
      <origin xyz="-0.007 0.133 0.023" rpy="1.136 0.000 -3.040" />
    </xacro:self_cap_sensor>
    <xacro:self_cap_sensor
      robot_namespace="${namespace}"
      parent="${namespace}_skin"
      sensor_number="0"
      sensor_radius="${sensor_radius}"
      sensor_length="0.025"
      normal_x="-0.018"
      normal_y="0.953"
      normal_z="-0.304">
      <origin xyz="-0.000 0.096 -0.184" rpy="-1.262 3.142 0.019" />
    </xacro:self_cap_sensor>
  </xacro:macro>

</robot>